.intro
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: white

.main-description
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column

.full-width-parallax-image
  width: 100vw
  height: 100vh
  //background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  opacity: 0.9;

.is-rounded
    border-radius: 100px
    margin-top: 20px